.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #1f1f24;
  color: white;
}
.App {
  border: 3px solid white;
  height: 768px;
  width: 1366px;
  margin: 0px auto;
  border-radius: 80px;
}
.button {
  border-radius: 20px;
}
.whiteText {
  color: black;
  text-align: center;
  font-family: Arial;
}
#Warning {
  background-color: f00c0c
}
#CCLicence {
  border-width:0
}
